extends layout

block content
  h1= title

  if (toShow == null) 
    h2 No instance detail 
  else 
  - let id = toShow.id
  - let variety = toShow.variety
  - let vitamin = toShow.vitamin
  - let price = toShow.price
    div
     div.row
      div(class='juiceAttr mr-3') Juice ID is:
      div #{id}
     div.row
      div(class='juiceAttr mr-3') Juice Variety is:
      div #{variety}
     div.row
      div(class='juiceAttr mr-3') Juice Vitamin is:
      div #{vitamin}
     div.row
      div(class='juiceAttr mr-3') Juice Price is:
      div #{price}
